.ergi-project-container {
  /* max-width: 1200px; */
  width: 100%;
  margin-top: 5rem;
}

.project-wrapper {
  background-color: var(--background-100);
  padding: 1em;
  display: grid;
  gap: 1rem;
}

.project-preview {
  /* border: 1px solid red; */
  background-color: white;
  padding: 0.29rem;
  border-radius: 30px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.project-img-container img {
  width: 100%;
  border-radius: 30px;
}

.cover-img {
  width: 45px;
  height: 45px;
}

.cover-img img {
  width: 100%;
  height: 100%;
  border-radius: var(--rounded-radius);
  object-position: center;
  object-fit: cover;
  cursor: pointer;
}

.project-info {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 50px 1fr;
  margin-top: 0.3rem;
  padding: 0.5rem;
}

.info {
  /* width: 100%; */
}

.project-title {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 5px;
}

.project-user-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}




.project-duration,.project-creator {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: rgb(104, 104, 104);
}

.more-desc-info button {
  background: var(--color-primary);
  color: var(--white-100);
  font-size: 12px;
  border-radius: var(--rounded-radius-20);
}

@media screen and (min-width: 475px) {
  .project-wrapper {
    grid-template-columns: 1fr;
  }

  /* .project-desc {
    width: 100%;
  } */
}

@media screen and (min-width: 768px) {
  .project-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .project-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  .project-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
