.ergi-project-container {
  /* max-width: 1200px; */
  width: 100%;
  margin-top: 5rem;
}

.project-wp {
  display: grid;
  gap: 1rem;
}
.project-container {
  background-color: white;
  padding: 1rem;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  /* max-width: 700px; */
}

.project-img img {
  width: 100%;
  cursor: pointer;
  max-height: 300px;
  object-fit: fill;
  object-position: center;
}

.cover-img {
  width: 50px;
  height: 50px;
}

.cover-img img {
  width: 100%;
  height: 100%;
  border-radius: var(--rounded-radius);
  object-position: center;
  object-fit: cover;
  cursor: pointer;
}

.cover-img .profile {
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0.7);
}

.project-title {
  font-size: 15px;
  margin-bottom: 12px;
}

.project-upper-section {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.project-user-info .project-creator {
  font-family: Arial, Helvetica, sans-serif;
}
.project-user-info .project-creator span {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.project-user-info a {
  color: black;
  text-decoration: none;
}

.project-user-info .project-duration {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: rgb(104, 104, 104);
}

.more-desc-info button {
  background: var(--color-primary);
  color: var(--white-100);
  font-size: 12px;
  border-radius: var(--rounded-radius-20);
}

@media screen and (min-width: 475px) {
  .project-wp {
    grid-template-columns: 1fr;
  }

  /* .project-desc {
    width: 100%;
  } */
}

/* @media screen and (min-width: 768px) {
  .project-wp {
    grid-template-columns: repeat(2, 1fr);
  }
} */
