.team-title {
  text-align: center;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 600;
}

.team-title span {
  font-style: italic;
  color: var(--color-primary);
}

.our-team-container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
  /* padding: 2rem; */
  /* width: 100%; */
}

.our-team-preview {
  cursor: pointer;
  margin-bottom: 20px;
  max-width: 300px;
  padding: 1rem;
  /* margin: 0 auto; */
}

.member-wrapper {
  position: relative;
}

.member-wrapper img {
  /* transform: translateX(10%); */
  margin-inline: auto;
  width: 200px;
  height: 200px;
  /* aspect-ratio: 7/5; */
  object-position: 90% 30%;
  object-fit: cover;
  border-radius: 50%;
}

.social-control-container {
  /* position: absolute; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: rgba(0, 0, 0, 0.7); */

  /* opacity: 0; */
  transition: opacity 0.5s ease-in-out;
}

.controls {
  /* position: absolute; */
  bottom: 0;
  padding: 0.5rem;

  display: flex;
  gap: 0.5rem;
  justify-content: center;
  width: 100%;
}

.icons {
  color: var(--color-primary);
  font-size: 25px;
  cursor: pointer;
}

.our-team-preview:hover .social-control-container {
  opacity: 1;
}

.member-info {
  text-align: center;
  width: 100%;
}

.member-info h4 {
  font-size: clamp(14px, 3vw, 16px);
}
.member-info span {
  font-size: clamp(18px, 3vw, 24px);
}

/* @media screen and (min-width: 275px) {
  .our-team-container {
    grid-template-columns: 1fr;
  }
} */
/* 
@media screen and (min-width: 768px) {
  .our-team-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .our-team-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  .our-team-container {
    grid-template-columns: repeat(4, 1fr);
  }
} */
