* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4;
}

.news-ergi-container {
  /* background-color: lightcoral; */
}

.news-title {
  margin-bottom: 0.5rem;
  color: hsl(0, 0%, 56%);
  margin-top: 5rem;
  font-size: 1.4rem;
}

/* -----------Search bar --------- */

.search-container {
  max-width: 600px;
  margin-inline: auto;
  margin-top: 20px;
}

.search-wrapper {
  position: relative;
  margin-inline: auto;
}

.search-icon-holder {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-primary);
  color: var(--white-100);
  box-shadow: 0 0 2px rgba(0, 0, 0, rgba(0, 0, 0, 0.7));
  border-radius: 10px;
}

.search-bar {
  width: 100%;
  max-width: 600px;
  padding: 1rem;
  color: initial;
  border: 1px solid rgb(219, 219, 219);
  border-radius: var(--rounded-radius-20);
  font-size: 1rem;
}

/* ====main content styles */
.news-wrapper {
  /* backg round-color: lightblue; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.news-preview-list {
  display: flex;
  /* align-items: center; */

  cursor: pointer;
}

.news-preview-img {
  max-width: 450px;
  height: 18em;
}
.news-preview-img img {
  max-width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* .latest-info {
  max-width: 450px;
} */

.latest-info .preview-title {
  max-width: 500px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 1.5rem;
}

.latest-info .news-preview-detail {
  margin-bottom: 10px;
  font-size: 1.1rem;
}
.latest-info .news-preview-category {
  color: var(--color-duration);
  text-transform: capitalize;
  font-size: 1.1rem;
}

.news-preview-duration {
  color: var(--color-duration);
  margin-top: 15px;
  font-size: 1.1rem;
}

/* ---------------category style------------------------- */
.cartgory-wrapper {
  display: flex;
  max-width: 800px;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  margin-top: 20px;
}

.cartgory-wrapper p {
  margin: 0 auto;
  padding: 0.5rem 1.5rem;
  background-color: #f9f9f9;
  border-radius: 20px;
}






/* ==========More news Button============= */

/* .related-stories-section {

} */

.related-stories {
 text-align: center;
}


.stories-btn {
  background-color: var(--color-primary);
  color: var(--white-100);
  padding: .5rem 2rem;
}

.related-stories-title {
  color: var(--color-primary);
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: 10px;
}


/* ===========Related news================ */
.related-news-wrapper {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}



.project-preview {
  /* border: 1px solid red; */
  background-color: white;
  padding: 0.29rem;
  border-radius: 30px;
  box-shadow: var(--box-shadow);
}

.project-img-container img {
  width: 100%;
  border-radius: 30px;
}



.related-info {
 padding: 0 1rem;
  margin-top: .4rem;
}

.related-info span {
  background-color: #DFDFDF;
  color: var(--color-primary);
  padding: .1rem 1rem;
  font-weight: 600;
  border-radius: var(--rounded-radius-20);
}

.more-info {
  display: grid;
  grid-template-columns: 1fr 6rem;
  padding: 0 1rem .9rem ;
}

.project-desc {
  width: 30rem;
  font-size: 16px;
  font-weight: bold;
}

.related-news-info h5 {
  font-size: 15px;
}

.related-news-info p {
  font-size: 13px;
  color: var(--color-duration);
}



@media screen and (min-width:475px) {
  .project-wrapper {
    grid-template-columns: 1fr;
  }

   .project-desc {
    width: 100%;
  }
}

@media screen and (min-width:768px) {
  .project-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

 
}

@media screen and (min-width:1024px) {
  .project-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width:1280px) {
  .project-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* =============media query================ */

@media (min-width: 240px) {
  .news-preview-list {
    flex-direction: column;
    
  }

  .news-preview-img img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 640px) {
  .news-preview-list {
    flex-direction: row;
  }

  .news-preview-img img {
    width: 100%;
    height: 100%;
  }

  .latest-info {
    max-width: 700px;
  }

  .latest-info .news-preview-category {
    font-size: 1.4em;
  }

  .latest-info .preview-title {
    font-size: 1.4rem;
  }

  .latest-info .news-preview-detail {
    font-size: 1.2rem;
  }
  .latest-info .news-preview-duration {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 768px) {
  .news-preview-img img {
    width: 100%;
    height: 90%;
  }
}
