.root {
  width: 100%;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* color */

  --color-primary: #8b4513;
  --color-danger: #e50914;
  --color-background: #f6f6f9;
  --white-200: #f2f2f2;
  --white-300: #ebebeb;
  --white-400: #e4e4e4;
  --white-100: #ffffff;
  --title-color: #8f8e8e;
  --color-black: #000000;
  --background-100: #f3f3f3;
  --background-200: #f2f8fc;
  --icon-bg: rgb(212, 212, 212);
  --rounded-radius: 50%;
  --rounded-radius-10: 10px;
  --rounded-radius-20: 20px;
  --radius-20: 20px;
  --rounded-radius-30: 30px;
  --color-duration: #a1a1a1;
  --color-success: #07bc0c;
  --color-dark: #121212;
  --color-light: #fff;
  --color-info-dark: #7d8da1;
  --box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  --box-shadow-10: 0 0 15px rgba(0, 0, 0, 0.5);
  --color-light-active: rgba(0, 0, 0, 0.1);
  --card-radius-radius: 1.6rem;
  --border-radius-1: 1.2rem;
  --backgroud-primary: #fff;
  --background-secondary: #141414;
  --background-secondary-1: #000;
  --background-card: #222;
  --card-template-column: repeat(auto-fit, minmax(250px, 1fr));
  ---welcome-title-color-secondary: #8f8e8e;
  --button-border-radius: 4px;
  --modal-background: rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-secondary);
  color: var(--white-100);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 1.8;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 0.87rem;
}
h4 {
  font-size: 0.8rem;
}
h5 {
  font-size: 0.77rem;
}

a {
  text-decoration: none;
  color: var(--white-100);
}

.profile-photo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.muted-text {
  color: var(---welcome-title-color-secondary);
}

.primary {
  color: var(--color-primary);
}
.danger {
  color: var(--color-danger);
}

.success {
  color: var(--color-sucess);
}

/* .btn {
  border: none;
  outline: none;
  background-color: var(--color-primary);
  color: var(--white-color);
  border-radius: var(--button-border-radius);
  padding: 8px 16px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  margin-right: 15px;
} */

.icon {
  font-size: 1.6em;
  margin-right: 15px;
}

.modal {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  width: 400px;
  max-width: 150%;
}

.show-modal {
  display: block;
}


.animation {
  animation: animate linear ;
  animation-timeline: view();
  animation-range: entry 30% cover 40%;
}

@keyframes animate {
  from {
opacity: 0;
transform: translateY(-100px);
  } to{
    opacity: 1;
    transform: translateY(0px);
  }
}
.nav-icon {
  font-size: 25px;
}

.extra {
  padding: 0.3rem;
  font-size: 35px;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.extra:hover {
  background-color: var(--white-300);
}

.arrow-right,
.arrow-left {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  transition: opacity 0.5s ease-in-out;
}

.left {
  left: 20px;
}
.right {
  right: 0;
}

.container {
  padding-top: 120px;
}

.welcome-title {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 5rem;
}

.underlay-tracker {
  width: 7rem;
  height: 0.55rem;
  margin: 0 auto;
  border-radius: 40px;
  background-color: var(--color-primary);
}

/* global icons */

.global-icon {
  font-size: 40px;
  color: var(--color-primary);
  cursor: pointer;
}

/* global arrow icons */
.global-icon {
  font-size: 40px;
  color: var(--white-100);
  cursor: pointer;
  opacity: 0.5;
  transition: 100ms ease-in-out;
}

.global-icon:hover {
  opacity: 1;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media screen and (max-width: 1063px) {
    .container {
    
    }
  }
  
  @media screen and (max-width:  921px) {
    .container {
      margin-left: 0;
    }
  }
  
  @media screen and (max-width: 768px) {
    .container {
      margin-left: 0px;
    }
  } */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
